{%extends 'calc/base.html'%}
{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}
<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock css%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Odds probability Calculator | Free Calculator to find Odds probability</title>
<meta name="description"
    content="Capacitance Calculator makes it easy for you to determine the value of capacitance, area, and distance with steps." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Angular Resolution Calculator | Free Calculator to find Angular Resolution" />
<meta property="og:description" content="Angular Resolution Calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Angular Resolution Calculator | Free Calculator to find Angular Resolution" />
<meta name="twitter:description"
    content="Angular Resolution Calculator makes it easy for you to determine the theoretical yield value of the chemical reaction in fraction of seconds with steps." />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Angular Resolution Calculator | Free Calculator to find Angular Resolution" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/Theoratical-Yield-Calculator.jpeg" />
<meta property='og:description' content="Angular Resolution Calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock meta %}

{% block content %}
{% if  a and b %}
<script>
    $(document).ready(function () {

        $("#hassle").click();


    });


</script>

<button type="button" hidden id="hassle" onclick="location.href='#oddsprob'">ans1</button>
{% endif %}


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Odds probability Calculator</h1>
        </div>
        <div class="card-body">
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="{% url 'oddsprob' %}" method="POST" id="my_form">
                {% csrf_token %}
                 <div class="input-group mb-3">
                <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Choose Option</span>
        </div>
            <select id="Given" name="Given"  style="margin-top: 5px;width:100%" class="select form-control" id="inlineFormInputGroup" onchange="this.form.submit()">
          
            {% if Given == "form1" %}
            <option value="form1" selected="selected">Find Probability of winning</option>  
            {% else %}
            <option value="form1" >Find Probability of winning</option>  
            {% endif %}

            {% if Given == "form2" %}
            <option value="form2" selected="selected">Find Probability of loosing</option>  
            {% else %}
            <option value="form2" >Find Probability of loosing</option>  
            {% endif %}
    </select>
</div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">A</span>
            </div>
            
           <input style="margin-top: 5px;width:100%" id="a" name="a" value="{{a}}"   required="" oninput="validateNumber(this);" class="form-control" type="number" step="any" required width="48"> 
       </div>

       <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">B</span>
            </div>
            
           <input style="margin-top: 5px;width:100%" id="b" name="b" value="{{b}}"   required="" oninput="validateNumber(this);" class="form-control" type="number" step="any" required width="48"> 
       </div>

       
        <div class=" center col mt-2 ">
            <center><button type="submit" class="btn btn-primary">Calculate</button>
              <a href="{% url 'oddsprob' %}" class="btn btn-warning" role="button" style="margin-top:5px;">Reset</a>      
            </center>
          </div>
    
</div>

</form>
</div>
</div>
<div class="container" style="height: auto !important;">
{% if Given == "form1" and a and b %}

<div class="card c1" id="oddsprob">
        <div class="card-header">
            <h2 class="h2">Steps to Find Probability of winning:</h2>
        </div>

        <div class="card-body">

            <strong>Probability of winning:-</strong>
            <br>
            <p class="btn btn-outline-secondary active text-justify">Probability of winning = A / (A + B)</p>
            <br>
            
            <strong>Input values are:-</strong>
            <p>A = {{a}} </p>
            <p>B = {{b}} </p>
            
            <p><b>Put values into formula</b></p>
            
            <p>Probability of winning = A / (A + B)</p>
            <p>Probability of winning = {{a}} / ({{a}} + {{b}}) </p>

            <b>Probability of winning = {{result}} or {{result1}}%</b>

            
                         
   </div>
    </div>

    {% endif %} 


    {% if Given == "form2" and a and b %}

<div class="card c1" id="oddsprob">
        <div class="card-header">
            <h2 class="h2">Steps to Find Probability of Loosing:</h2>
        </div>

        <div class="card-body">

            <strong>Probability of Loosing:-</strong>
            <br>
            <p class="btn btn-outline-secondary active text-justify">Probability of Loosing = B / (A + B)</p>
            <br>
            
            <strong>Input values are:-</strong>
            <p>A = {{a}} </p>
            <p>B = {{b}} </p>
            
            <p><b>Put values into formula</b></p>
            
            <p>Probability of Loosing = B / (A + B)</p>
            <p>Probability of Loosing = {{a}} / ({{a}} + {{b}}) </p>

            <b>Probability of Loosing = {{result}} or {{result1}}%</b>

            
                         
   </div>
    </div>

    {% endif %}    
    </div>              
{% endblock content %}